.navWrapper {
  width: 100%;
  display: flex;
  justify-content: center;

}

.listContainer {
  display: flex;
  align-items: center;
  gap:20px;
}

.listItem {
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
  &:last-child {
    padding-right: 0;
  }
}
.listBlock {
  p {
    display: flex;
    align-items: center;
  }
}
